.hover a {
  text-decoration: none;
  font-size: 12px;
}

a.background:hover {
  background-color: #f5b041;
}
a.color:hover {
  color: #f00;
}
a.border:hover {
  text-decoration: underline red;
}
a.font-size:hover {
  font-size: 14px;
}
a.font-weight:hover {
  font-weight: bold;
}
