.container > div {
  margin: 0 15px 15px 0;
  background-color: #d35400;
  font-size: 14px;
}

.container > div:first-child {
  background-color: #f00;
}

.container > div:nth-child(n + 6) {
  background-color: #00f;
}

.container > div:nth-child(10),
.container > div:nth-child(17) {
  font-size: 34px;
}

.container > div:hover:nth-child(3n) {
  border: 3px dashed #0f0;
}

.container > div:last-child {
  background-color: #0f0;
  margin-left: 50px;
}
